<input type="file" class="file-input" multiple
       (change)="onFileSelected($event)" #fileUpload
       [accept]="requiredFileType"
       onclick="this.value = null">

<h4>
  <div class="file-upload">
    {{ activeFileName || "Select a file to upload" }}
  </div>
</h4>

<div class="progress">
  <mat-progress-bar class="progress-bar" mode="determinate"
                    [value]="uploadProgress" *ngIf="uploadProgress">
  </mat-progress-bar>
  <mat-icon class="cancel-upload" (click)="cancelUpload()"
            *ngIf="uploadProgress">delete_forever</mat-icon>
</div>


<button mat-fab class="floating-bottom-right" aria-label="Upload" (click)="fileUpload.click()">
  <fa-icon [icon]="faCloudArrowUp"></fa-icon>
</button>
