<section class="listing">
  <ng-container *ngIf="isImage(galleryItemInput.path)">
    <a [href]="galleryItemInput.path" target="_blank">
    <img class="listing-photo" [src]="galleryItemInput.path" alt="{{galleryItemInput.alt}}">
    </a>
  </ng-container>

  <ng-container *ngIf="isVideo(galleryItemInput.path)">
    <video controls >
      <source [src]="galleryItemInput.path" type="video/mp4">
      Your browser does not support the video tag.
    </video>
  </ng-container>

  <ng-container *ngIf="isUnsupported(galleryItemInput.path)">
    Unsupported
  </ng-container>
</section>
